

.selections{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 1em;
    width: 100%;
}

.concept-output{
    grid-row: 3;
}

button.active {
    outline: 2px solid var(--border-color-color);
    background-color: var(--button-hover);
    color: var(--button-text);
    font-weight: bold;
    box-shadow: 0 0 12px var(--button-shadow);
}

pre {
    white-space: pre-wrap;
    word-break: break-word;
    overflow-wrap: break-word;
}