.home{
    display: grid;
    grid-template-columns: 15% 1fr 15%;
    gap: 1em;
}

.hero, .languages, .highlights{
    grid-column: 2/3;
    background-color: var(--light-overlay);
    border-radius: .5rem;
    padding: 1rem;
    border: 1px solid var(--border-color);
    box-shadow: 0 2px 8px var(--heading-shadow);
}

.languages{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1em;
}

.hero{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.hero p{
    max-width: 600px;
}

.bottom-border{
    border-bottom: 2px dotted var(--border-color);
}

.hero img {
  width: 100%;
  height: auto;
  display: block;
  max-width: 800px;
  border-radius: .5rem;
  margin: 0 auto;
}


.highlights{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-wrap: wrap;
    gap: 1rem;
}

.highlights h2{
    flex: 0 0 100%;
}

.highlights article{
    border: var(--border-color) solid 1px;
    border-radius: .5em;
    padding: .4rem;
    width: 200px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.highlights article:hover {
  box-shadow: 0 0 12px #00f5d4aa;
  transform: scale(1.1);
  transition: all 0.2s ease;
}

.highlights article h3{
    text-align: center;
}

.highlights article p{
    line-height: 1.5;
}

.highlights article p::after{
    content: ".";
}

