@media (min-width: 45rem){

    .hero-overlay{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    transform: translateX(-50%);
    z-index: 2;
    background-color:  var(--half-opacity);
    text-align: center;
    border-radius: .5rem;
    padding: .5em;
    width: max-content;
    gap: 1em;
    }

    .top{
        top: 10%;
        left: 50%;
    }

    .bottom{
        bottom: 15%;
        left: 50%;
    }

    .grid{
        grid-template-columns: 15% 1fr 15%;
    }


}