.origin, .features, .call-to-action, .credits{
    background-color: var(--light-overlay);
    border-radius: .5rem;
    padding: 1rem;
    border: 1px solid var(--border-color);
    box-shadow: 0 2px 8px var(--heading-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
    gap: .5em;
    /* default to grid location when on larger or smaller screens */
    grid-column: 2/3;
    
}

.features ul{
    margin-left: 1rem;
}

.features .btn{
    text-wrap: none;
}

@media (min-width: 45rem){


    .grid{
        grid-template-columns: 15% 1fr 15%;
    }

}





