.origin, .features, .call-to-action, .credits{
    /* default to grid location when on larger or smaller screens */
    grid-column: 2/3;
    
}

.features ul{
    margin-left: 1rem;
}

.features .btn{
    text-wrap: none;
}




