.origin, .features, .call-to-action, .credits{
    grid-column: 2/3;
    background-color: var(--light-overlay);
    border-radius: .5rem;
    padding: 1rem;
    border: 1px solid var(--border-color);
    box-shadow: 0 2px 8px var(--heading-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5;
}


