:root{
    --prime-col: #008000;
    --second-col: #FF0000;
    --accent1: #FFFF00;
    --accent2: #000000;
    --max-width: 1050px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--prime-col);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero{
    width: 100%;
    height: auto;
    background-color: var(--second-col);
}

.hero img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

h1{
    text-align: center;
    padding: .5em;
    font-size: 2em;
}

section{
    background-color: var(--accent1);
    text-align: center;
    border: 1px solid black;
    max-height: 800px;
}

.weather, .data{
    width: 100%;
    font-size: smaller;
}

.weather img{
    width: 64px;
    height: auto;
}

h2{
    font-size: 1.5em;
}

ul{
    list-style: none;
    padding: 1em;
    line-height: 140%;
}

footer{
    padding-top: 10em;
    position: relative;
    text-align: center;
    padding: 1em;
    color: white;
}

a{
    color: #FFFF00;
}

